{% import _self as emailTable %}
{% macro bytesToSize(bytes) %}
{% spaceless %}
    {% set kilobyte = 1024 %}
    {% set megabyte = kilobyte * 1024 %}
    {% set gigabyte = megabyte * 1024 %}
    {% set terabyte = gigabyte * 1024 %}

    {% if bytes < kilobyte %}
        {{ bytes ~ ' B' }}
    {% elseif bytes < megabyte %}
        {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
    {% elseif bytes < gigabyte %}
        {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
    {% elseif bytes < terabyte %}
        {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
    {% else %}
        {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
    {% endif %}
{% endspaceless %}
{% endmacro %}

Salve, <br /><br />

Questo è il tuo report giornaliero sullo stato di cattura<br /><br />

<table border=1>
<tr>
    <td rowspan='2'>ID</td>
    <td rowspan='2'>Name</td>
    <td rowspan='2'>Active</td>
    <td>Schedule</td>
    <td colspan='3' align="center">JPG</td>
    <td colspan='3' align="center">RAW</td>
    <td colspan='3' align="center">Totali</td>
</tr>
<tr>
    <td>Quantità</td>
    <td>Quantità</td>
    <td>Dimensione</td>
    <td>Punteggio</td>
    <td>Quanittà</td>
    <td>Domensione</td>
    <td>Punteggio</td>
    <td>Quantità</td>
    <td>Dimensione</td>
    <td>Punteggio</td>
</tr>
{% for reportItem in emailReportArray %}
    <tr>
        <td>{{ reportItem.sourceId }}</td>
        <td>{{ reportItem.sourceName }}</td>
        <td>{{ reportItem.active }}</td>
        <td>{{ reportItem.schedule.overall.plannedSlots }}</td>
        <td>{{ reportItem.jpg.count }}</td>
        <td>{{ emailTable.bytesToSize(reportItem.jpg.size) }}</td>
        <td>{{ reportItem.schedule.jpg.successRate }}</td>
        <td>{{ reportItem.raw.count }}</td>
        <td>{{ emailTable.bytesToSize(reportItem.raw.size) }}</td>
        <td>{{ reportItem.schedule.raw.successRate }}</td>
        <td>{{ reportItem.total.count }}</td>
        <td>{{ emailTable.bytesToSize(reportItem.total.size) }}</td>
        <td>{{ reportItem.schedule.overall.score }} %</td>
    </tr>    
{% endfor %}     
</table>
<br /><br />
Webcampak
<br /><br />
PS: Contatta il tuo amministratore di sistema se vuoi aggiornare la sottoscrizione delle email.
